.portfolioContainer {
    position: relative;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    z-index: 0;
}

.portfolioContainer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('/bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
}

/* Pastikan background terlihat pada semua ukuran layar */
@media screen and (min-width: 768px) {
    .portfolioContainer::before {
        background-attachment: fixed;
    }
}