.spotContainer {
    background-image: url('/bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    color: white;
    padding: 20px;
}