.spotContainer {
    background-image: url('/bg.png');
    /* Jika di folder public */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    /* Opsional, untuk kontras teks */
}